$code-expand-color: #30b89a;

// Colours for custom code editor theme
$code-default-color: #a5b9b5;
$code-cursor-color: #d0d0ff;
$code-bg-color: #102B3A;
$code-tag-color: #25ffcf;
$code-variable-color: #AC73C2;
$code-string-color: #e27c4d;
$code-atom-color: #49c7d6;

$readme-background-color: #f5f8fb;
