.editor-content {

  blockquote {
    border-left: 2px solid $color--highlight--regular;
    margin-left: 1rem;
    padding: spacing-unit(sm) 0 spacing-unit(sm) spacing-unit(xl);
    position: relative;

    &::before {
      color: $color--background--regular;
      content: '\201C';
      font-size: 50px;
      left: 15px;
      position: absolute;
      top: 15px;
    }

    p {
      font-size: 20px;
      color: $color--background--extra-dark;
      margin: 0;
    }

    p + p {
      margin-top: spacing-unit(md);
    }
  }

  // Heading-1 is not here, because we don't want extra gap at the top of the page
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: spacing-unit(xl);
  }
}
